<!-- header-->
<section class="py-1 header text-center">
  <div class="container py-4">
    <header>
      <img src="../assets/starWarsHeaderImg.png" class="img-fluid" alt="..." heigth="150" width="150"/>
      <p class="font-italic link-primary mb-2 mt-3" routerLink="/homePage">
        Welcome To Star Wars Web Application
      </p>
    </header>
  </div>
</section>

<!-- Main Router Body  -->
<router-outlet></router-outlet>

<!--Footer -->
<footer
  class="p-4 bg-light d-flex align-items-center justify-content-center"
>
  <p>
    <i class="fa fa-copyright"></i> 2023 Copyright:
    <a href="#" target="_blank">Pro-Shubham-Jain</a>
  </p>
</footer>
