<ng-container *ngIf="!isLoading; else loader">
  <section class="pb-5">
    <div class="container" text-center>
      <!-- Masonry grid -->
      <div class="gallery-wrapper">
        <!-- Grid sizer -->
        <div class="grid-sizer" col-lg-4 col-md-6></div>
        <div class="row" row-cols-1>
          <!-- Grid item -->
          <ng-container
            *ngIf="
              !!starWarCharacterDetails && !!starWarCharacterDetails.filmList;
              else noData
            "
          >
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title text-center text-muted">
                      {{ starWarCharacterDetails.name }}
                    </h5>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="list-group text-center" list-group-flush>
                        <li class="list-group-item text-center">
                          Height: {{ starWarCharacterDetails.height }}
                        </li>
                        <li class="list-group-item text-center">
                          Mass: {{ starWarCharacterDetails.mass }}
                        </li>
                        <li class="list-group-item text-center">
                          Hair Color: {{ starWarCharacterDetails.hair_color }}
                        </li>
                        <li class="list-group-item text-center">
                          Skin Color: {{ starWarCharacterDetails.skin_color }}
                        </li>
                        <li class="list-group-item text-center">
                          Eye Color: {{ starWarCharacterDetails.eye_color }}
                        </li>
                        <li class="list-group-item text-center">
                          Birth Year: {{ starWarCharacterDetails.birth_year }}
                        </li>
                        <li class="list-group-item text-center">
                          Gender: {{ starWarCharacterDetails.gender }}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-header">
                    <h5 class="card-title text-center text-muted">Films</h5>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <ng-container
                        *ngFor="let item of starWarCharacterDetails?.filmList"
                      >
                        <div class="col-sm-6">
                          <p
                            class="font-italic link-primary text-center"
                            (click)="redirectToMovie(item.id)"
                          >
                            {{ item.name }}
                            {{
                              !!starWarCharacterDetails.currFilm &&
                              starWarCharacterDetails.currFilm.title ===
                                item.name
                                ? "**"
                                : ""
                            }}
                          </p>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #loader>
  <div class="text-center mb-5">
    <div
      class="spinner-grow mr-2"
      style="width: 3rem; height: 3rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
    <div
      class="spinner-grow mr-2"
      style="width: 3rem; height: 3rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
    <div
      class="spinner-grow mr-2"
      style="width: 3rem; height: 3rem"
      role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #noData>
  <div class="alert alert-danger text-center m-5" role="alert">
    No data found. Something went wrong. Try again in a few minutes.
  </div>
</ng-template>
